#*
Copyright 2008 Flaptor (flaptor.com) 

Licensed under the Apache License, Version 2.0 (the "License"); 
you may not use this file except in compliance with the License. 
You may obtain a copy of the License at 

    http://www.apache.org/licenses/LICENSE-2.0 

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, 
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
See the License for the specific language governing permissions and 
limitations under the License.
*#
## author Martin Massera

#set($pageTitle = "Charts")
#parse("include.top.vm")

<script src="timeplot.js"></script>
<script>
	var timeplot;
	
	function onLoad () {
	    var grams = [];
	    #set ($i = 0)
	    #foreach ($lineInfo in $lineInfos)
	        grams[$i] = {
	            id : $lineInfo.getId(),
	            gram: "$lineInfo.getGram()",
	            color: "#$lineInfo.getColor()"
	        };
            #set ($i = $i+1)   
	    #end
	        
	    timeplot = getEmbeddedChart ("chart", grams, "$plot", true);
    }    
</script>
<div id="chart" style="width:100%"></div>
<br/>

#parse("include.bottom.vm")