#*
Copyright 2008 Flaptor (flaptor.com) 

Licensed under the Apache License, Version 2.0 (the "License"); 
you may not use this file except in compliance with the License. 
You may obtain a copy of the License at 

    http://www.apache.org/licenses/LICENSE-2.0 

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, 
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
See the License for the specific language governing permissions and 
limitations under the License.
*#
## author Martin Massera

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta HTTP-Equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="media/style.css" />
#if ($additionalCSS)
	<link rel="stylesheet" type="text/css" href="$additionalCSS" />
#end
<head>

<title>$appName - $pageTitle</title>
</head>
<body>
<div id="navbar">
<h1>$htmlAppName - $pageTitle</h1>
<a href="/index.do">home</a>
#if ($monitorNode)
    <a href="monitorNode.do?idx=$idx">node status</a>
#end
#if ($user)
    <a href="logout.do">logout</a>
#end
</div>
<div id="content">
